
<section>
    <h2>There are {{restaurants.length}} restaurants</h2>
    {{#each restaurants}}
    {{!-- <article class="clearfix item-container block"> --}}
		<h2>{{name}}</h2>
			<img class="item-img" src="{{this.image}}" />
			<a class="btn" href="/restaurants/{{id}}">Click to see {{name}}</a>
		{{!-- </article> --}}
	{{/each}}
</section>
		<div>
        <a href="/new-restaurant" >Add New Restaurant of your choice!</a>
    </div>


		